[submodule "external/jsmn"]
	path = external/jsmn
	url = https://github.com/zserge/jsmn
[submodule "external/libwally-core"]
	path = external/libwally-core
	url = https://github.com/ElementsProject/libwally-core.git
	ignore = dirty
[submodule "external/nng"]
	path = external/nng
	url = https://github.com/nanomsg/nng.git
[submodule "external/dlg"]
	path = external/dlg
	url = https://github.com/sg777/dlg
[submodule "external/libwebsockets"]
	path = external/libwebsockets
	url = https://github.com/warmcat/libwebsockets
[submodule "external/cmake"]
	path = external/cmake
	url = https://github.com/Kitware/CMake.git
[submodule "external/iniparser"]
	path = external/iniparser
	url = https://github.com/ndevilla/iniparser
